html, body {
  margin: 0;
  padding: 0;
  width: 100%;

}

html {
  background-color: #A1C181;
}



.page-title{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  padding-top: 17%;
}

.cl-title{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  padding-top: 17%;
  padding-bottom: 5%;
}



.lists{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  text-decoration: none;
  color: #f9f9f9;

  text-align: center;
  height: 105px;

  background:#233D4D;
  overflow: auto;
}

.back {
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}


.btn { 
  display:flex;
  align-items: center;
  justify-content: center;
}

button {

  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 10px;
  color: #f9f9f9;

  width: 270px;
  height: 70px;
  background: #233D4D;

  margin-left: 5px;
  margin-right: 5px;

  transition: .3s;

}

button:hover {
  cursor: pointer;
  background: #FCCA46;
}

button:after{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255, .2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}

